<td-layout-nav logo="assets:teradata" toolbarTitle="UDI Studio - Impact Analyzer" navigationRoute="/">
    <button md-icon-button td-menu-button tdLayoutToggle>
        <md-icon>menu</md-icon>
    </button>
    <td-toolbar td-toolbar-content flex layout="row"></td-toolbar>
      <!--MJA - sekce pauza-->
      <section class="bgc-blue-grey-500">
            <div layout="row">
              <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
              </div>
            </div>
          </section>
          <!--MJA - konec sekce pauza-->
<!--MJA - sekce pro IMPACT ANALYSER UDI Studia - obrazek vlevo, text vpravo-->
<section class="bgc-blue-grey-100">
        <div layout="row">
          <div flex flex-order="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
            <div class="push-top-xxl" hide-xs></div>
            <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
              <h2 class="md-display-1 tc-blue-A700 push-top-xs push-bottom-sm">Impact Analyser - UDI Studio plugin</h2>
              <h4 class="md-headline tc-blue-grey-600 push-top-xs push-bottom-sm" tdMediaToggle="xs" [mediaClasses]="['text-lg']">
                <td-markdown>
                  * Extracts analytical metadata from various analytical and mapping documents and tools (Power Designer, Erwin, XML, Excel…)
                  * Populates shared analytical metadata repository for further usage 
                  * Works with object dependencies and hierarchies
                  * Detects change impacts on code and database structures through entire solution 
                  * Clearly determines scope for development, testing and deployment phases 
                  * Provides full and diff customizable reports by comparison of any versions of analytical metadata
                </td-markdown>
                <br><img src="..\app\assets\images\udi_architecture_ia.png" width="90%" height="90%" />
              </h4>
            </div>
            <div class="push-bottom-xl" hide-xs></div>
          </div>
	      <div flex="30" flex-xs="20" flex-order="1" layout-gt-xs="column" layout-align="start center" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xxl', 'pad-bottom-xxl', 'pad-left-xxl']">
	        <div layout="row" layout-align="end start" tdMediaToggle="xs" [mediaClasses]="['push-top', 'push-left']">
	          <md-icon class="md-300 blue600">storage</md-icon>
	        </div>
	      </div>
        </div>
      </section>
      <!--MJA - konec sekce pro IMPACT ANALYSER UDI Studia - obrazek vlevo, text vpravo-->
    
      <!--MJA - sekce pauza-->
      <section class="bgc-blue-grey-500">
        <div layout="row">
          <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
          </div>
        </div>
      </section>
      <!--MJA - konec sekce pauza-->

</td-layout-nav>
