<td-layout-nav logo="assets:teradata" toolbarTitle="PDC - Contacts" navigationRoute="/">
    <button md-icon-button td-menu-button tdLayoutToggle>
        <md-icon>menu</md-icon>
    </button>
    <!-- toolbar  <td-toolbar td-toolbar-content flex layout="row"></td-toolbar>
      
      <section class="bgc-blue-grey-500">
            <div layout="row">
              <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
              </div>
            </div>
          </section>
   -->

  <!--MJA - sekce pro CODE GENERATOR UDI Studia - obrazek vlevo, text vpravo-->
  <section class="bgc-blue-grey-100">
    <div layout="row">
      <div flex flex-order="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
        <div class="push-top-xxl" hide-xs></div>
        <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
          <h3 class="md-display-1 tc-blue-A700 push-top-xs push-bottom-sm">Contacts</h3>
          <h4 class="md-headline tc-blue-grey-600 push-top-xs push-bottom-sm" hide-xs>
            <br><b>Product Leader and Support</b>
            <br>contact : Milan Budka
            <br>phone   : +420 601 321 735
            <br>email   : <a href="mailto:martin.pies@teradata.com">martin.pies@teradata.com</a>
            </h4>
            <br>
       <h4 class="md-headline tc-blue-grey-600 push-top-xs push-bottom-sm" hide-xs>
              <br><b>Product Team Member</b>
              <br>contact : Tomáš Ploužek
              <br>phone   : +420 603 744 951
              <br>email   : <a href="mailto:tomas.plouzek@teradata.com">tomas.plouzek@teradata.com</a>
              </h4>
       <h4 class="md-headline tc-blue-grey-600 push-top-xs push-bottom-sm" hide-xs>
              <br><b>Product Team Member</b>
              <br>contact : Petr Štefánek
              <br>phone   : +420 602 117 900
              <br>email   : <a href="mailto:petr.stefanek@teradata.com">petr.stefanek@teradata.com</a>
              </h4>
              <br>
              <h4 class="md-headline tc-blue-grey-600 push-top-xs push-bottom-sm" hide-xs>
                 <br><b>Product Owner</b>
                <br>contact : Miroslav Jakoubek
                <br>phone   : +420 602 205 958
                <br>email   : <a href="miroslav.jakoubek@teradata.com">miroslav.jakoubek@teradata.com</a>
                </h4>
                <br>
        </div>
        <div class="push-bottom-xl" hide-xs></div>
      </div>
      <div flex="30" flex-xs="20" flex-order="1" layout-gt-xs="column" layout-align="start center" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl', 'pad-left-xl']">
        <!--<md-icon class="mat-icon-svg-xxl fill-green-A700" svgIcon="assets:material-outline" tdMediaToggle="xs" [mediaClasses]="['push-top', 'push-left']"></md-icon>-->
        <div class="push-top-xxl" hide-xs></div>
        <div layout-align="start center">
          <h3 class="md-display-1 tc-red-500 push-top-xs push-bottom-sm"> </h3>
          <!--<br><img src="..\app\assets\images\udi_cg.png">-->
          <i class="material-icons md-300 blue600">contacts</i>
        </div>
      </div>
    </div>
  </section>
  <!--MJA - konec sekce pro CODE GENERATOR UDI Studia - obrazek vlevo, text vpravo-->
    
      <!--MJA - sekce pauza-->
      <section class="bgc-blue-grey-500">
        <div layout="row">
          <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
          </div>
        </div>
      </section>
      <!--MJA - konec sekce pauza-->

</td-layout-nav>
