<td-layout-nav logo="assets:teradata" toolbarTitle="PDC">
  <button md-icon-button td-menu-button tdLayoutToggle>
    <!--tdLayoutToggle - obsahuje rolovaci menu umistene pod ikonou menu.
    './app.component.ts' - obsahuje hodnoty menu a route odkazy,
    './app.component.html' - obsahuje volani route. Sekce Home je pevna, ostatni casti jsou volany cyklem ngFor,
    './app.component.scss',
    ./app.routes.ts - obsahuje logiku volani modulu s path na ktere ma byt presmerovani dokonceno ??? !!!! Nejasne jak menit !!!
    -->
    <md-icon>menu</md-icon>
  </button>
  <!--<td-toolbar td-toolbar-content flex layout="row"></td-toolbar>-->
  <!--MJA - toolbar component - horizontal right section - ../toolbar/toolbar.component.html-->
  <!-- POKUS-->


  
    <!-- END POKUS-->
  
  
  
  <!-- START -->
  <section class="bgc-blue-grey-900">
      <div layout="row">
        <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
          <!-- MJA - po zakomentovani zadna zasadni zmens, umoznuje popis bloku-->
          <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
            <div layout="row" layout-align="start center">
              <h1 class="md-display-1 tc-orange-600 push-top-xs push-bottom-sm" tdMediaToggle="xs" [mediaClasses]="['md-headline']">
                Process Dispatch Center</h1>
            </div>
            <h2 class="md-headline tc-blue-grey-50 push-top-xs push-bottom-sm" tdMediaToggle="xs" [mediaClasses]="['text-lg']">
              Process Dispatch Center (PDC) is controlling framework application. 
              The main purpose of PDC is launching separate jobs in sequence based on their dependencies and priorities.
              <br/><br/>  
              It utilizes optimally systems resources and uses parallelism as much as possible.<br/> 
              The frameworks logic takes care about optimal launch on job level, while the internal logic of the job itself is invisible to the framework.<br/>
              
            </h2>
            <div class="push-top-xl" hide-xs></div>
            </div>
          </div>

  
        <div flex="40" flex-xs="20" flex-order-xs="1" layout-gt-xs="column" layout-align="start center" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl', 'pad-right-xl']">
          <!--   <img src="..\app\assets\images\udi_cg.png">-->
          <!--<br>
            <img src="..\app\assets\images\udi_ia.png">-->
          <div layout="row" layout-align="end start">
            <h1 class="md-display-1 tc-blue-grey-50 push-top-xs push-bottom-sm" tdMediaToggle="xs" [mediaClasses]="['md-headline']">
              <br>
            </h1>
          </div>
          <!-- Icon APP-->
          <i class="material-icons md-300 orange600">apps</i>
        </div>
      </div>
    </section>

  <section class="bgc-blue-grey-600">
    <div layout="row">
      <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
        <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
          <td-expansion-panel-group>
            <td-expansion-panel label="" sublabel="technical briefview">
              <ng-template td-expansion-panel-label>
                <md-icon>star</md-icon>
                <span><b>How does it work?</b></span>
              </ng-template>
              <div layout="row">
                <div class="md-padding">
                  <br>
                  <md-icon class="tc-blue-700">filter_1</md-icon>
                </div>
                <div class="md-padding">
                  <td-markdown>
               <p>Framework runs all jobs in the same manner &ndash; using a child process which interprets the content of the job command line 
              &ndash; and waits for the job exit code.</p> 
              <p>In dependency on the exit code the framework considers the job finished either successfully or failed. All necessary information needed by the framework is stored as metadata in Oracle database.</p>
                  </td-markdown>
                </div>
              </div>
            </td-expansion-panel>
 
            <td-expansion-panel label="" sublabel="what are benefits?">
              <ng-template td-expansion-panel-label>
                <md-icon>star</md-icon>
                <span><b>Why PDC?</b></span>
              </ng-template>
              <div layout="row">
                <div class="md-padding">
                  <md-icon class="tc-blue-700">filter_2</md-icon>
                  <!--<md-icon class="tc-green-700">thumb_up</md-icon>-->
                  <!--MJA - ikona palec nahoru-->
                </div>
                <div class="md-padding">
                  <td-markdown>
					* Practical experience &ndash; more than 9 installations yet
					* Unified control of all launched processes &ndash; IPC jobs, Perl script, bteq scripts,...
					* Unlimited &ndash; extension possibilities
					* Open solution &ndash; control logic and metadata stored in database
					* Simple GUI interface
					* Dynamic processing control with reference to:
						* Minimal processing duration
						* Job&lsquo;s dependency
						* SLA and processing priority respecting
						* Thresholds for duration and finish are set according to last runs

                  </td-markdown>
                </div>
              </div>
            </td-expansion-panel>

          </td-expansion-panel-group>
        </div>
      </div>
    </div>
  </section>


  <!--MJA - sekce pro architeckturu PDC - obrazek vlevo, text vpravo-->
  <section class="bgc-blue-grey-800 tc-white">
    <div layout="row">
      <div flex flex-order="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
        <!--<div class="push-top-xxl" hide-xs></div>-->
        <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
          <h2 class="md-display-1 tc-orange-600 push-top-xs push-bottom-sm">PDC
            <md-icon>favorite</md-icon> architecture</h2>
          <h4 class="md-headline tc-blue-grey-100 push-top-xs push-bottom-sm">
            <td-markdown>
 				The basic concept of PDC framework parts is shown in the picture below:
            </td-markdown>
          </h4>
          <img src="app\assets\images\pdc_architecture_black.png" width="90%" height="90%" />
        </div>
      </div>
      <div flex="30" flex-xs="20" flex-order="1" layout-gt-xs="column" layout-align="start center" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl', 'pad-left-xl']">
        <div layout-align="start center">
          <h2 class="md-display-1 tc-red-500 push-top-xs push-bottom-sm"> </h2>
          <i class="material-icons md-300 orange600">settings_overscan</i>
        </div>
      </div>
    </div>
  </section>
  <!--MJA - konec sekce pro architeckturu PDC - obrazek vlevo, text vpravo-->

  <!--MJA - sekce pro List vlastnosti architecktury PDC-->
  <section class="bgc-blue-grey-500">
    <div layout="row">
      <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
        <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
          <td-expansion-panel-group>
            <td-expansion-panel label="" sublabel="definition and values">
              <ng-template td-expansion-panel-label>
                <md-icon>filter_list</md-icon>
                <span><b>PDC - Engine</b></span>
              </ng-template>
              <div layout="row">
                <div class="md-padding">
                  <p><b>Worker</b> of PDC</p>
                  <td-markdown>
						* Controlled by Scheduler
						* Responsible for:
							* Job launch
							* Job supervise
							* Metadata update
						* Written in PERL
						* 1 to N systems (ETL servers) can consume jobs
                  </td-markdown>
                </div>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="" sublabel="definition and values">
              <ng-template td-expansion-panel-label>
                <md-icon>filter_list</md-icon>
                <span><b>PDC - Metadata Repository</b></span>
              </ng-template>
              <div layout="row">
                <div class="md-padding">
                  <p><b>Brain</b> of PDC application</p>
                  <td-markdown>
					* Job selection for launching
					* Controlled by metadata
					* Logic stored in procedures
					* Chooses jobs for processing regarding to:
						 * Calendar
						 * Dependency
						 * Priority
						 * Locks
						 * Parallelism control
						 * Calendar
					 * Written in Orale PL/SQL
                  </td-markdown>
                </div>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="" sublabel="definition and values">
              <ng-template td-expansion-panel-label>
                <md-icon>filter_list</md-icon>
                <span><b>PDC - GUI</b></span>
              </ng-template>
              <div layout="row">
                <div class="md-padding">
                  <p><b>User interface</b> of PDC application</p>
                  <td-markdown>
					WEB based application for:
					* Monitoring
						* Streams
						* Jobs
					* Controlling
						* Scheduler
						* Application access right
						* Job’s processing
					* Multiple Engine support
					* Access permissions
					* Metadata change
					* Change management
                  </td-markdown>
                </div>
              </div>
            </td-expansion-panel>
            <td-expansion-panel label="" sublabel="definition and values">
              <ng-template td-expansion-panel-label>
                <md-icon>filter_list</md-icon>
                <span><b>PDC - Framework Checker</b></span>
              </ng-template>
              <div layout="row">
                <div class="md-padding">
                  <p><b>Eyesight</b> of PDC application</p>
                  <td-markdown>
					* Independent supervising process
					* Checking of correctness of:
						* Processing initialization
						* Scheduler
						* Engine
						* Job execution
						* Job behavior
					* SNMP alert
					* Written in PERL
                  </td-markdown>
                </div>
              </div>
            </td-expansion-panel>
          </td-expansion-panel-group>
        </div>
      </div>
    </div>
  </section>
  <!--MJA - konec sekce pro List vlastnosti architecktury UDI Studia -->


  <td-layout-footer color="primary" tdMediaToggle="xs" [mediaClasses]="['text-center']">
    <div layout-gt-xs="row" layout-align="start center">
      <div class="md-caption">Copyright &copy; 2017 Teradata. All rights reserved</div>
      <span flex></span>
<!--  <div layout-gt-xs="row">
        <a href="https://gitter.im/Teradata/covalent" target="_blank" md-button class="text-upper">Gitter Chat</a>
        <a href="https://github.com/teradata/covalent/issues" target="_blank" md-button class="text-upper">Feature Request</a>
      </div>
      -->      
    </div>
  </td-layout-footer>
</td-layout-nav>